html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.main{
    margin: 0 1rem;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
} 

.header {
    text-align: center;
}

.header>h1 {
    margin: 0;
}

.divider {
    width: 100%;
}

hr.vr {
    display: inline-block; 
    width:1px; 
    height:100%; 
    margin: 0;
    border: none;
    border-left: 1px solid lightgray;
}

.lists {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr) 1px);
    column-gap: 10px;
    margin-bottom: 3rem;
}

.lists#date-lists {
    flex-grow: 1;
}

.list-container {
    min-height: 60vh;
}

.list-container>.title,.list-container>.subtitle {
    text-align: center;
    margin: 0.5rem;
    text-transform: uppercase;
}

.list-container>.title {
    font-size: large;
}

.list-container>.subtitle {
    font-size: small;
}

.item {
    overflow-wrap: break-word;
    border-top: 1px solid lightgray;
    padding: 0.4rem 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    min-height: 1rem;
}

.item.checked {
    text-decoration: line-through;
    color: darkgray;
    opacity: 0.5;
}

.item.sortable-ghost {
    /* opacity: 0.4; */
}

.item.sortable-chosen:not(.sortable-ghost) {
    border: none;
}