html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
} 

.main{
    flex-grow: 1;
} 

.header {
    text-align: center;
}

.header>h1 {
    margin: 0;
}

.divider {
    width: 100%;
}


.list-container {
    min-height: 60vh;
}

.list-container>.title,.list-container>.subtitle {
    text-align: center;
    margin: 0.5rem;
    text-transform: uppercase;
}

.list-container>.subtitle {
    font-size: smaller;
}

